<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../common/default-page-head %>
</head>

<body>

  <!-- header -->
  <% include ../common/header.ejs %>
    <!-- //header -->
    <!-- banner -->

    <div class="login-page">
      <div class="container">
        <h3 class="w3ls-title w3ls-title1">Cadastro</h3>
        <div class="login-body">
          <% include ../common/formValidation %>
            <form class="user-login" action="/signup" method="POST" enctype="multipart/form-data">
              <label>Qual seu nome?</label>
              <input type="text" class="user" name="name" placeholder="Primeiro Nome" required>

              <label>Qual seu sobrenome?</label>
              <input type="text" class="user" name="lastname" placeholder="Sobrenome" required>

              <label>Qual seu telefone?
              <input type="tel" class="user" name="phone" required>
              </label>
              <label>Escolha um nome de usuário</label>
              <input type="text" class="user" name="username" placeholder="Nome de usuário" required>

              <label>Qual seu email?</label>
              <input type="email" class="user" name="email" placeholder="Email" required>
              <br>
              <label>Escolha uma senha</label>
              <input type="password" name="password" class="lock" placeholder="Senha" required>

              <label>Data de nascimento: </label>
              <input type="date" name="birthdate" required><br>
              <label>Qual é o seu gênero?</label>
              <select class="form-control" name="gender" required>
                <option value="m">Masculino</option>
                <option value="f">Feminino</option>
                <option value="other">Outro</option>
              </select>
              <label>Assinalem os itens que se adequam a você</label>
              <fieldset>
                <div class="opt-smoke">
                  <input class="form-check-input" type="checkbox" name="smoker">
                  Sou fumante
                </div>
                <div class="opt-alcohol">
                  <input class="form-check-input" type="checkbox" name="alcohol">
                  Consumo álcool
                </div>
                <div class="opt-pets">
                  <input class="form-check-input" type="checkbox" name="pets">
                  Possuo animais de estimação
                </div>
                <div class="opt-visits">
                  <input class="form-check-input" type="checkbox" value="visits">
                  Gosto muito de receber visitas
                </div>
              </fieldset>

              <fieldset class="form-group">
                  <div class="row">
                    <label>Eu prefiro morar com...</label>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <label class="form-check-label">
                        </label>
                          <input class="form-check-input" type="radio" name="favgender" value="m">
                          Homens
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                        </label>
                          <input class="form-check-input" type="radio" name="favgender" value="f">
                          Mulheres
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                        </label>
                          <input class="form-check-input" type="radio" name="favgender" value="any" checked>
                          Indiferente
                      </div>
                    </div>
                  </div>
                </fieldset>

                <label>Estado</label>
                <input class="form-control" type="text" placeholder="Bahia" readonly>

                <label>Cidade</label>
                <input class="form-control" type="text" placeholder="Feira de Santana" readonly>
                <label>Bairro Preferencial</label>

                <fieldset>
                  <select class="form-control" name="district">
                    <%for(i in districts){%>
                      <%
                      var value;
                      if(i==1) {
                        value = 'none';
                      }else{
                        value = districts[i];
                      }%>
                    <option value="<%= value %>"><%= districts[i]%></option>
                    <%}%>
                  </select>
                </fieldset>

              <label>Escolha uma foto de perfil</label>
              <input type="file" name="profile_picture" accept=".png, .jpg, .jpeg" required>
              <input type="submit" value="Cadastrar">
            </form>
        </div>
      </div>
    </div>
    <!-- //banner -->
    <!-- welcome -->

    <!-- footer -->
    <% include ../common/footer %>
</body>

</html>
