<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Dakamo</title>
  <script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>



  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/css/foundation.min.css'>

      <link rel="stylesheet" href="css/style.css">


</head>

<body>
  <div class="row green-row">



  <div class="tabs-content">

    <div class="content active" id="panel2-1">

      <h3 class="text-center">Cadastrar Residência</h3>

      <form class="row" method="post" action="/house/insert">
        <div class="large-7 column large-centered">
            Endereço</br></br>

            <label>
            <input type="text" placeholder="CEP" />
            </label>
          <label>
            <input type="text" placeholder="Rua" />
            </label>
          <label>
            <input type="text" placeholder="Nº" />
            </label>
          <label>
            <input type="text" placeholder="Bairro" />
            </label>
          <label>
            <input type="text" placeholder="Estado" />
            </label>
        <label>
            <input type="text" placeholder="Cidade" />
            </label>
            </br></br>
            Fotos do Imóvel
            <div class="col-xs-12">
                <input id="imagem" type="file" accept="image/*" multiple/>
            </div>

            </br></br>
            Valor do Aluguel</br></br>

            <label>
            <input type="text" placeholder="450,00" />
            <label>&nbsp&nbspÁgua Inclusa no Valor </label><label>
              &nbsp&nbsp &nbsp&nbsp<INPUT TYPE="RADIO" NAME="fumante" VALUE="Sim"> Sim<br/></label><label>
              &nbsp&nbsp &nbsp&nbsp<INPUT TYPE="RADIO" NAME="fumante" VALUE="Nao"> Não <br/></label>
            </label>
               <label>&nbsp&nbspEnergia Inclusa no Valor </label><label>
               &nbsp&nbsp&nbsp&nbsp<INPUT TYPE="RADIO" NAME="fumante" VALUE="Sim"> Sim<br/></label><label>
               &nbsp&nbsp&nbsp&nbsp<INPUT TYPE="RADIO" NAME="fumante" VALUE="Nao"> Não <br/></label>
            </label>
               <label>&nbsp&nbspInternet Inclusa no Valor </label><label>
               &nbsp&nbsp&nbsp&nbsp<INPUT TYPE="RADIO" NAME="fumante" VALUE="Sim"> Sim<br/></label><label>
               &nbsp&nbsp&nbsp&nbsp<INPUT TYPE="RADIO" NAME="fumante" VALUE="Nao"> Não <br/></label>
            </label>

            </br></br>
          <center><input type="submit" value="Cadastrar Residência" class="button secondary"/></center>
        </div>
      </form>

    </div>


  </div>

</div> <!-- End Row -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/foundation.min.js'></script>

    <script  src="js/index.js"></script>

</body>
</html>
