<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<% include ../common/default-page-head %>
</head>
<body>

	<!-- header -->
	<% include ../common/header.ejs %>
	<!-- //header -->
	<!-- banner -->

	<div class="login-page">
		<div class="container">
			<h3 class="w3ls-title w3ls-title1">Cadastrar Casa</h3>
			<div class="login-body">
				<% include ../common/formValidation %>
					<form class="user-login" action="/house/insert" method="POST" enctype="multipart/form-data">
						<label>Nome do Anúncio</label>
						<input type="text" class="user" name="housename" placeholder="Exemplo: Casa próxima a UEFS" required>

						<label>Qual a rua da casa?</label>
						<input type="text" class="user" name="street" placeholder="Rua da Mangueira" required>

						<label>Quantas vagas estão disponíveis na casa?</label>
						<input type="number" class="user" name="amount_people" required>

						<label>Qual o valor do aluguel por pessoa?</label>
						<input type="number" class="user" name="rent" required>

						<label>Assinalem o que for verdadeiro para você:</label>
						<fieldset>
							<div class="opt-smoke">
								<input class="form-check-input" type="checkbox" name="smoker">
								Não gosto de compartilhar o ambiente com fumantes
							</div>
							<div class="opt-alcohol">
								<input class="form-check-input" type="checkbox" name="alcohol">
								Não tolero bebidas alcoólicas
							</div>
							<div class="opt-pets">
								<input class="form-check-input" type="checkbox" name="pets">
								Não quero ou não posso ter animais de estimação em casa
							</div>
							<div class="opt-visits">
								<input class="form-check-input" type="checkbox" value="visits">
								Sou reservado, não gosto de receber visitas
							</div>
						</fieldset>

						<fieldset class="form-group">
								<div class="row">
									<label>Eu prefiro morar com...</label>
									<div class="col-sm-10">
										<div class="form-check">
											<label class="form-check-label">
											</label>
												<input class="form-check-input" type="radio" name="gender" value="Masculino">
												Homens
										</div>
										<div class="form-check">
											<label class="form-check-label">
											</label>
												<input class="form-check-input" type="radio" name="gender" value="Feminino">
												Mulheres
										</div>
										<div class="form-check">
											<label class="form-check-label">
											</label>
												<input class="form-check-input" type="radio" name="gender" value="any" checked>
												Indiferente
										</div>
									</div>
								</div>
							</fieldset>

							<label>Estado</label>
							<input class="form-control" type="text" placeholder="Bahia" readonly>

							<label>Cidade</label>
							<input class="form-control" type="text" placeholder="Feira de Santana" readonly>
							<label>Bairro da casa</label>

							<fieldset>
								<select class="form-control" name="district">
									<%for(i in districts){%>
										<%
										var value;
										if(i==1) {
											value = 'none';
										}else{
											value = districts[i];
										}%>
									<option value="<%= value %>"><%= districts[i]%></option>
									<%}%>
								</select>
							</fieldset>

							<label> Informações adicionais </label>
							<textarea name="info" rows="10" cols="50" placeholder="Essa casa é bem conservada, tem dois banheiros e uma suíte, área de serviço..."></textarea>

						<label>Envie algumas fotos da casa (5 no máximo)</label>
						<input class="photos" type="file" name="photos" accept=".png, .jpg, .jpeg" multiple required>
						<input type="submit" value="Cadastrar">
					</form>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- welcome -->
	<script>
			$('.photos').change(function(){
		    if(this.files.length>5){
		        alert('Você escolheu fotos demais. Por favor, escolha somente 3');
			 			$('.photos').val('');
				}
		});
		// Prevent submission if limit is exceeded.
		$('photos').submit(function(){
		    if(this.files.length>10)
		        return false;
		});
	</script>
	<!-- footer -->
	<% include ./../common/footer %>
</body>
</html>
