<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<% include ../common/default-page-head %>
</head>
<body>

	<!-- header -->
	<% include ../common/header.ejs %>
	<!-- //header -->
	<!-- banner -->

	<div class="products-row">
		<%for(var id in houses){
			var house = houses[id];
			%>
			<div class="col-md-3 product-grids">
				<div class="agile-products">
					<a href="single.html"><img src="images/s2.jpg" class="img-responsive" alt="img"></a>
					<div class="agile-product-text">
						<h5><a href="single.html"><%= house.housename%></a></h5>
						<h6>R$ <%= house.price%></h6>
					</div>
				</div>
			</div>
		<% }%>
		<div class="clearfix"> </div>
	</div>
	<!-- //banner -->
	<!-- welcome -->

	<!-- footer -->
	<% include ./../common/footer %>
	<% include ./../common/libs %>

</body>
</html>
