<%if(validationErrors){%>
  <%for (var i = 0; i < validationErrors.length; i++) {%>
    <h4 id="validationErrors">
      <ul>
        <li><%= validationErrors[i].msg %></li>
      </ul>
    </h2>
  <%}%>
<%}%>
